
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    width: 90%;
    margin: auto;


}

section{
    margin: 50px 0px;
}

img{
    width: 100%;
}

header{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: rgba(0, 0, 0, 0.548);
    
    }

    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav h3{
font-size: 50px;
font-weight: 700;
margin-left: 10px;

}
nav button{
background-color: cadetblue;
letter-spacing: 2px;
border-radius: 30px;
color: blanchedalmond;
transition: all 0.3s;
padding: 10px 20px;
margin-top: 0px;
}
nav button:hover{
background-color: rgba(127, 255, 212, 0.466);
color: black;
}

/* banner section */
.banner {
    text-align: center;
    padding: 100px 0px 150px;
}
.banner h2{
    font-size: 50px;
    font-weight: 700px;
    color: rgba(0, 0, 0, 0.274);
}


.banner h3{
    font-style: italic;
    font-size: 30px;

}

.banner button{
    background-color: cadetblue;
letter-spacing: 2px;
border-radius: 30px;
color: blanchedalmond;
transition: all 0.3s;
padding: 10px 20px;
}

.banner button:hover{
background-color: rgba(127, 255, 212, 0.466);
color: black;
}

/* hero section */

.event{
    display: flex;
    width: 80%;
    margin: auto;
}
.event-box {
    width: 50%;
    margin: 20px ;
}

.event-box h2{
    font-size: 30px;
    margin: 10px 20px;
}
 .event-box p{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.301);
 }

 .event-box button{
 background-color: cadetblue;
letter-spacing: 2px;
border-radius: 30px;
color: blanchedalmond;
transition: all 0.3s;
padding: 10px 20px;

 }
.event-box button:hover{
    background-color: rgba(127, 255, 212, 0.466);
    color: black;
}

.event-box img{
    height: 350px;
    object-fit: cover;
    border-radius:10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
    
}